.comics-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(202, 255, 123);
  position: relative; /* Добавлено для позиционирования псевдоэлемента относительно .comics-main */
  --description-font-size: 12px;
  color: white;
  font-family: 'Fuzzy Bubbles', sans-serif;
  letter-spacing: 0.3px;
}

.comics-main::before {
  content: '';
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/img/comicscover.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: brightness(0.55) hue-rotate(310deg);
  z-index: 1;
}

.comics-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 140px;

  background: rgb(110, 45, 75);
  font-size: 45px;
  font-family: 'Fontdiner Swanky', serif;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: rgb(39, 0, 18);
  z-index: 3;
}

.comics-main-wrapper {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 100%;
}

.advice-container{
  align-self:center;
  z-index: 5;
  margin-top: 45px;
  width: 75%;
  height: 350px;
}
.advice-element{
  display: flex;
  width: 100%;
  height: 350px;
}

.advice-element .img {
  width: 40%;
  height: 100%;
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.advice-element .info {
  background-color: rgba(42, 42, 42, 0.6);
  backdrop-filter: blur(5px);
  width: 60%;
  height: 100%;
  font-family: 'Fuzzy Bubbles', sans-serif;
}
.advice-element .title{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 25%;
  font-size: 24px;
  
}
.advice-element .description{
  display: flex;
  justify-content: center;

  padding: 0 20px;
  font-size: 16px;
  height: 75%;
}

.advice-container .swiper-pagination-bullet {
  background-color: white;
}
/* Custom styles for Swiper navigation arrows */
.swiper-button-next,
.swiper-button-prev {
  width: 50px;
  height: 50px;
  color: #c1c1c1 !important;
  border-radius: 5px;
}


.comics-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 45px;
}
.flex-column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.comics-content-section {
  display: flex;
  justify-content: flex-start;
  align-self: center;
  font-size: 23px;
  width: 100%;
  z-index: 5;  
  letter-spacing: 1px;

  --container-height: 317px;
  --img-width: 165px;
  --description-height: 65px;
}
.comics-content-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-right: 22px;
  width: 200px;
  height: 300px;
  overflow: hidden;
  background-color: rgba(38, 38, 38, 0.5);
  backdrop-filter: blur(5px);
  padding-bottom: 10px;
  box-shadow: 8px -7px 0px #18251d;
}

.comics-content-container:hover .comics-content-title {
  color: #41ff90;
}
.comics-content-wrapper .swiper-slide {
  width: unset !important;
  
}
.comics-content-img {
  width: 200px;
  height: calc(300px - 65px);
  background-color: rgb(239, 223, 255);
}
.comics-content-img img {
  width: 100%; 
  height: 100%; 
  display: block; 
}
.comics-content-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65px;
}
.comics-content-author {
  text-align: center;
  font-size: var(--description-font-size);

}
.comics-content-title {
  text-align: center;
  font-size: var(--description-font-size);
  font-weight: bold;
}

.grid-container {
  width: 70%;
  align-self:center;
  z-index: 5;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 15px;
  padding: 20px;
}
.small-container{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr 1fr;
  grid-gap: 8px;
}

.big-block {
  position: relative;
  color: #fff;
  background-image: url('/img/gravitifalse.jpg');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}


.big-block-title{
  position: absolute;
  text-align: center;
  
  padding: 15px 0;
  transform:translate(0%, 0%);
  background-color: rgba(38, 38, 38, 0.8);
  font-size: 35px;
}

.small-block {
  background-color: #2ecc71;
  color: #fff;
  padding: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 1/1.3;
}

@media (max-width: 1234px) {
  .advice-container{
    margin-top: 40px;
    width: 80%;
  }
  .advice-element .img {
    width: 40%;
  }
  .advice-element .info {
    width: 60%;
  }
  .advice-element .title{
    height: 20%;
    font-size: 23px;
  }
  .advice-element .description{
    font-size: 15px;
  }
}

@media (max-width: 1160px) {
  .grid-container {
    width: 60%;
    grid-template-columns: 1fr;
    grid-template-rows: 90px auto;
    grid-gap: 5px;
  }
  .big-block{
    background-image: none;
  } 
  .big-block-title{
    font-size: 25px
  }
  .small-container{
    grid-gap: 5px;
  }

  /*  */

  .comics-content-container {
    width: 190px;
    height: 280px;
  }
  .comics-content-img {
    width: 190px;
    height: calc(280px - 60px);
  }
  .comics-content-description {
    height: 60px;
  }  
}

@media (max-width: 970px) {
  .advice-container{
    margin-top: 40px;
    width: 85%;
    height: 340px;
  }
  .advice-element{
    height: 340px;
  }
  .advice-element .img {
    width: 40%;
  }
  .advice-element .info {
    width: 60%;
  }
  .advice-element .title{
    height: 17%;
    font-size: 19px;
  }
  .advice-element .description{
    padding: 0 20px;
    font-size: 12px;
    height: 83%;
  }
  .big-block-title{
    font-size: 23px
  }
}
@media (max-width: 717px) {
  .comics-content-section {
    font-size: 22px;
  }

  .grid-container {
    width: 70%;
    grid-template-columns: 1fr;
    grid-template-rows: 90px auto;
  }
  .big-block{
    background-image: none;
  } 
  .big-block-title{
    font-size: 20px;
    height: 100%;
  }
  .small-container{
    grid-gap: 5px;
  }

  /*  */
  .comics-content-wrapper {
    gap: 20px;
  }
  .comics-content-container {
    margin-top: 15px;
  }
  .comics-content-wrapper {
    margin-top: 20px;
  }
  .advice-container{
    margin-top: 20px;
    width: 100%;
  }
}
@media (max-width: 650px) {
  .comics-content-section {
    font-size: 21px;
  }
  .advice-container{
    height: 320px;
  }
  .advice-element{
    height: 320px;
  }
  .advice-element .title{
    font-size: 14px;
  }
  .advice-element .img {
    width: 50%;
  }
  .advice-element .info {
    width: 50%;
  }
  .advice-element .description{
    overflow: auto;
  }
  .grid-container {
    width: 85%;
  }
  .big-block-title{
    font-size: 18px
  }

  /*  */

  .comics-content-container {
    width: 180px;
    height: 260px;
  }
  .comics-content-img {
    width: 180px;
    height: calc(260px - 55px);
  }
  .comics-content-description {
    height: 55px;
  } 
  .comics-content-author {
    font-size: 11px;  
  }
  .comics-content-title {
    font-size: 11px;  
  }
}

@media (max-width: 450px) {
  .advice-container{
    height: 310px;
  }
  .advice-element{
    height: 310px;
  }
  .advice-element .title{
    height: 15%;
    font-size: 12px;
  }
  .advice-element .description{
    font-size: 11px;
  }
  .grid-container {
    width: 90%;
  }

  /*  */

  .comics-content-container {
    width: 170px;
    height: 250px;
  }
  .comics-content-img {
    width: 170px;
    height: calc(250px - 50px);
  }
  .comics-content-description {
    height: 50px;
  } 
}

@media (max-width: 370px) {
  .advice-container{
    height: 290px;
  }
  .advice-element{
    height: 290px;
  }
  .advice-element .title{
    height: 12%;
    font-size: 10px;
  }
  .advice-element .description{
    font-size: 9px;
  }
}