.swiper {
  max-width: 700px; /* Задайте желаемую максимальную ширину */
  margin: 30px auto; /* Центрирует контейнер Swiper на странице */
  overflow: hidden; /* Предотвращает появление горизонтальной полосы прокрутки на странице */
}

.swiper-wrapper {
  display: flex; /* Убедитесь, что слайды будут располагаться в строку (горизонтально) */
}

.swiper-slide {
  flex-shrink: 0; /* Запретит элементам слайда уменьшаться, чтобы они всегда оставались видимыми */
  width: 100%; /* Занимает 100% ширины контейнера, чтобы быть в одной строке с другими слайдами */
  box-sizing: border-box; /* Учитывает границы и отступы внутри элемента слайда */
}
